@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --primary-color: #e02c6d;
  --secondary-color: #3a3a3a;
  --body-color: #aaaaaa;
  --footer-color: #0a0826;
  --ratting-color: #fb8200;
  --product-title-color: #18191f;
  --product-details-color: #787885;
  --product-price-color: rgba(0, 0, 0, 0.87);
  --btn-text-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
}
body{
    /* background-color: var(--body-color); */
    font-family: 'Poppins', sans-serif;
}
/* reusable component start*/
.btn {
    font-weight: 700;
    font-size: 16px;
    color: var(--btn-text-color);
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 10px 24px;
}
.btn_primary{
    border-radius: 41px;
}
section, header{
    max-width: 1140px;
    margin: 0 auto;
    /* padding: 130px 0; */
}
/* reusable component end*/
/* header section styles start */
/* nav style start */
nav{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}
.logo_title{
    font-weight: 700;
    font-size: 24px;
}
ul{
    display: flex;
    gap: 34px;
    align-items: center;
}
ul li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 16px;
}
/* nav style end */
.header_area{
    display: flex;
    gap: 130px;
}
.header_content{
    padding: 150px 0; 
}
.header_title{
    font-weight: 700;
    font-size: 52px;
    color: var(--secondary-color);
}
.header_description{
    margin: 26px 0;
    font-weight: 600;
    font-size: 16px;
    color: var(--secondary-color);
}
.header_img{
    padding: 100px 0;
}
.camera_img{
    margin-top: 25px;
    position: absolute;
    z-index: 1;
}
.circle_img{
    position: relative;
    /* z-index: -1; */
}
/* header section styles end */
/* brand section styles start */
.brand_logo{
    padding: 36px 60px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    border-radius: 10px;
}
.brand_logo img{
    margin-left: 50px;
}
/* brand section styles end */
/* products section styles start */
.products{
    padding: 100px 0;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr
    );
    row-gap: 30px;
    column-gap: 30px;
}
.product_title{
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}
.product_see_more{
    margin-top: 50px;
   text-align: right;
}
.product_see_more a{
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: var(--primary-color);
}
.product_item{
    padding: 15px 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.item_title{
    margin-top: 16px;
    font-weight: 500;
    font-size: 28px;
    color: var(--product-title-color);
}
.item_price{
    margin-top: 6px;
    font-weight: 400;
    font-size: 24px;
    color: var(--product-price-color);
}
.ratting{
    display: flex;
    align-items: center;
}
.ratting i{
    color: var(--ratting-color);
}
.ratting_point{
    margin-left: 8px;
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
}
.item_description{
    margin-top: 8px;
    font-weight: 700;
    font-size: 14px;
    color: var(--product-details-color);
}
/* products section styles end */
/* featured section start */
.featured{
   margin-bottom: 600px;
}
.feature_product{
    display: flex;
    gap: 100px;
}
.feature_content{
    margin-top: 30px;
}
.feature_title{
    font-weight: 700;
    font-size: 38px;
    color: var(--footer-color);
}
.feature_description{
    padding: 26px 0;
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
}
/* featured section end */

